.card-product {
  padding-top: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 67px;
  }

  @media (min-width: $desktop-width) {
    min-height: 111px;
  }
  /*
  padding-top: 111px;
  padding-bottom: 57px;*/
}

.card-product__list {
  display: flex;
  flex-wrap: wrap;
  /*
  display: grid;
  grid-template-columns: repeat(3, 316px);
  gap: 51px;*/
  padding: 0;
  list-style: none;
  margin: 0;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 52px;
  }
}

.card-product__item {
  outline: 1px solid #ececec;
  min-height: 374px;
  margin-bottom: 30px;
  width: 100%;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
  }
  /*
  min-height: 659px;*/
}

.card-product__link-img {
  grid-row: 1/3;

  @media (min-width: $desktop-width) {
    min-height: 462px;
  }
}

.card-product__img {
  @media (min-width: $tablet-width) {
    width: 100%;
    height: 100%;
  }
}

.card-product__wrapper {
  padding: 0 0 12px;
  margin: 26px 28px 0;
  border-bottom: 2px solid #ececec;
  min-height: 98px;

  @media (min-width: $tablet-width) {
    min-height: 260px;
  }

  @media (min-width: $desktop-width) {
    min-height: 125px;
  }
}

.card-product__link-heading {
  text-decoration: none;
}

.card-product__heading {
  @include size-font(17px, 24px);
  /*
  @include size-font(20px, 24px);*/
  color: #000000;
  margin-top: 0;
  margin-bottom: 6px;

  @media (min-width: $tablet-width) {
    @include size-font(20px, 24px);
  }
}

.card-product__options {
  @include size-font(13px, 30px);
  /*
  @include size-font(15px, 30px);*/
  color: $base-color;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include size-font(15px, 30px);
  }
}

.card-product__wrapper-price {
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin-top: 23px;
  margin-bottom: 26px;
  padding-left: 27px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    grid-column: 2/3;
  }
}

.card-product__price {
  @include size-font(15px, 24px);
  /*
  @include size-font(15px, 30px);*/
  font-weight: bold;
  color: $base-color;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include size-font(17px, 24px);
  }
}

.card-product__button-basket {
  position: relative;
  border: none;
  background-color: #ffffff;
}

.card-product__basket-icon {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
