.form {
  padding-top: 17px;

  @media (min-width: $tablet-width) {
    padding-top: 54px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 98px;
  }
}

.form__conteiner-clue {
  @media (min-width: $desktop-width) {
    max-width: 802px;
    margin: 0 auto;
  }
}

.form__clue {
  margin: 0;

  @include size-font(13px, 24px);

  @media (min-width: $tablet-width) {
    @include size-font(17px, 38px);
  }
}

.form__filter fieldset:nth-child(2n) {
  @media (min-width: $tablet-width) {
    background-color: #f1f1f1;
  }
}

.form__filter fieldset:nth-child(2) {
  padding-bottom: 27px;
}

.form__item-title {
  @include size-font(17px, 16px);
  position: relative;
  color: #63d1bb;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;

  &::before {
    content: "";
    height: 1px;
    width: 74%;
    background: #62d1ba;
    position: absolute;
    top: 50%;
    left: 75px;
  }

  @media (min-width: $tablet-width) {
    flex-basis: 25%;

    &::before {
      content: "";
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    flex-basis: 17%;
    text-align: center;
  }
}

.form__filter-item {
  border: none;
  margin: 0;
  padding-top: 29px;

  @media (min-width: $tablet-width) {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.form__filter-list {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
  padding-bottom: 43px;
  padding-left: 55px;
  list-style: none;
  margin: 0;

  @media (min-width: $tablet-width) {
    flex-basis: 75%;
    flex-wrap: wrap;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.form__list-color {
  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 83%;
  }
}

.form__list-color > .form__list-item {
  @media (min-width: $tablet-width) {
    flex-basis: 50%;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 33%;
  }
}

.form__filter-label {
  @include size-font(17px, 18px);
  font-weight: bold;
  position: relative;
  display: block;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-bottom: 11px;

  &--type {
    padding-left: 19px;

    @media (min-width: $tablet-width) {
      padding-left: 23px;
    }
  }

  &--collor {
    padding-left: 23px;
    margin-bottom: 23px;

    @media (min-width: $tablet-width) {
      padding-left: 30px;
    }
  }

  @media (min-width: $tablet-width) {
    @include size-font(19px, 18px);
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.form__control-label {
  @include size-font(17px, 18px);
  font-weight: bold;

  @media (min-width: $tablet-width) {
    @include size-font(19px, 18px);
  }
}

.form__control-mark {
  position: absolute;
  top: 50%;
  left: -56px;
  transform: translateY(-50%);
  width: 42px;
  height: 42px;
  cursor: pointer;
  vertical-align: text-top;
  border: 2px solid #444444;
  background: #ffffff;

  @media (min-width: $tablet-width) {
    @include size-block(52px, 52px);
  }

  &:hover {
    border: 2px solid #62d1ba;
  }

  &:active {
    border: 2px solid rgba(68, 68, 68, 0.3);
  }
}

.form__filter-input[type="radio"] + .form__control-mark {
  border-radius: 50%;
}

.form__filter-input[type="radio"]:checked + .form__control-mark::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 18px;
  height: 18px;
  content: "";
  border-radius: 50%;
  background: #62d1ba;

  @media (min-width: $tablet-width) {
    @include size-block(22px, 22px);
  }
}

.form__filter-input[type="checkbox"]:checked + .form__control-mark::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 32px;
  height: 22px;
  content: "";
  background-image: url("../img/tick.svg");
}

.form__wrapper {
  width: 100%;
  padding-top: 28px;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    flex-basis: 75%;
    padding-top: 0;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 66%;
  }
}

.form__contacts-item,
.form__middle-name,
.form__surname,
.form__name {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.form__middle-name > .form__filter-label,
.form__surname > .form__filter-label,
.form__name > .form__filter-label {
  @media (min-width: $tablet-width) {
    padding-top: 14px;
    padding-right: 25px;
  }
}

.form__contacts-item {
  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.form__middle-name {
  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.form__input {
  border: none;
  outline: none;
  border-bottom: 2px solid #000000;

  @include size-font(17px, 18px);
  width: 100%;
  padding: 16px 18px 18px 0;
  color: $base-color;

  @media (min-width: $tablet-width) {
    @include size-font(19px, 18px);
    padding-left: 18px;
  }

  &:hover {
    border-bottom: 2px solid #62d1ba;
  }

  &:active {
    border-bottom: 2px solid #62d1ba;
  }
}

.form__contacts {
  margin: 0;
  border: none;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.form__contacts-container {
  position: relative;
  width: 100%;
  display: flex;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    flex-basis: 75%;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 66%;
    margin-left: 0;
  }
}

.form__contacts-container > input {
  @media (min-width: $tablet-width) {
    background-color: #f1f1f1;
    padding-left: 17px;
  }
}

.form__decoration-icon {
  opacity: 0.2;
}

.form__input:hover + span > .form__decoration-icon {
  fill: #62d1ba;
  opacity: 1;
}

.form__title-contact {
  display: flex;
  margin: 0;
  align-items: center;

  @media (min-width: $desktop-width) {
    justify-content: center;
  }
}

.form__decoration-email,
.form__decoration-phone {
  position: absolute;
  top: 10px;
  right: 15px;
}

.form__fill-field,
.form__additionally {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0;
  padding-bottom: 17px;
  margin: 0;
  border: none;

  .form__item-title {
    margin-top: 10px;
    margin-bottom: 22px;
  }
}

.form__fill-field {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 2fr 2fr 1fr;
  }
}

.form__additionally {
  @media (min-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 53px;
  }
}

.form__additionally-field {
  display: inline-block;
  width: 100%;
  min-height: 128px;
  padding: 17px;
  border: 2px solid #444444;

  @include size-font(19px, 18px);

  @media (min-width: $tablet-width) {
    flex-basis: 75%;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 66%;
  }

  &:hover {
    border: 2px solid #62d1ba;
  }

  &:active {
    border: 2px solid #62d1ba;
  }
}

.button-submit-form {
  @include size-font(17px, 16px);
  background-color: #ffffff;
  padding: 18px 17px;
  margin-bottom: 38px;
  order: 2;

  @media (min-width: $tablet-width) {
    width: 230px;
    margin-left: 0;
    order: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
  }
}

.form__field-text {
  @include size-font(14px, 16px);
  color: $base-color;
  margin-top: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    @include size-font(17px, 30px);
    margin-left: auto;
    padding-top: 10px;
    order: 0;
  }
}
