.form {
  padding-top: 17px;

  @media (min-width: $tablet-width) {
    padding-top: 66px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 98px;
  }
}

.form__conteiner-clue {
  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
  }

  @media (min-width: $desktop-width) {
    max-width: 802px;
    margin: 0 auto 15px;
  }
}

.form__clue {
  margin: 0;

  @include size-font(13px, 24px);

  @media (min-width: $tablet-width) {
    @include size-font(17px, 30px);
  }
}

.form__filter fieldset:nth-child(2n) {
  @media (min-width: $tablet-width) {
    background-color: #f1f1f1;
  }
}

.form__item-title {
  @include size-font(17px, 16px);
  position: relative;
  color: #63d1bb;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  overflow: hidden;
  margin: 0;

  & span {
    padding-right: 19px;
  }

  &::after {
    content: "";
    height: 1px;
    width: 100%;
    background: #62d1ba;
    position: absolute;
    top: 50%;
    left: auto;
    margin-right: -100%;
  }

  @media (min-width: $tablet-width) {
    flex-basis: 25%;
    margin-top: 16px;

    & span {
      padding: 0;
    }

    &::after {
      content: "";
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    flex-basis: 17%;
    text-align: center;
    padding-right: 15px;
  }
}

.form__filter-item {
  border: none;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 3px;

  &--type-collor {
    padding-top: 28px;
    padding-bottom: 3px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    padding-top: 50px;
    padding-bottom: 27px;
  }
}

.form__filter-list {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  padding-bottom: 0;
  padding-left: 0;
  list-style: none;
  margin: 0;

  @media (min-width: $tablet-width) {
    flex-basis: 75%;
    column-gap: 51px;
    flex-wrap: wrap;
    padding-top: 0;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    column-gap: 8px;
  }
}

.form__list-type {
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}


.form__list-color {
  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 85%;
  }
}

.form__list-color > .form__list-item {
  @media (min-width: $tablet-width) {
    flex-basis: 42%;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 29%;
  }
}

.form__filter-label {
  @include size-font(17px, 18px);
  cursor: pointer;
  font-weight: bold;
  position: relative;
  display: block;
  padding-top: 2px;
  padding-bottom: 0;

  &--type {
    padding-left: 58px;
    padding-top: 10px;
    padding-bottom: 11px;
    margin-top: 5px;

    @media (min-width: $tablet-width) {
      padding: 30px 0 19px 78px;
      margin-bottom: 24px;
      margin-top: 0;
    }
  }

  &--collor {
    padding-left: 62px;
    margin-bottom: 20px;
    padding-top: 11px;
    padding-bottom: 12px;

    @media (min-width: $tablet-width) {
      padding-left: 82px;
      margin-bottom: 26px;
    }
  }

  @media (min-width: $tablet-width) {
    @include size-font(19px, 18px);
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.form__filter-label:hover > .form__control-mark {
  border: 2px solid #62d1ba;
}

.form__filter-label:active + .form__control-mark {
  border: 2px solid #62d1ba;
}

.form__control-label {
  @include size-font(17px, 18px);
  font-weight: bold;

  @media (min-width: $tablet-width) {
    @include size-font(19px, 18px);
  }
}

.form__control-mark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 42px;
  height: 42px;
  cursor: pointer;
  vertical-align: text-top;
  border: 2px solid #444444;
  background: #ffffff;

  @media (min-width: $tablet-width) {
    @include size-block(52px, 52px);
  }
}

.form__filter-input[type="radio"] + .form__control-mark {
  border-radius: 50%;
}

.form__filter-input[type="radio"]:checked + .form__control-mark::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 18px;
  height: 18px;
  content: "";
  border-radius: 50%;
  background: #62d1ba;

  @media (min-width: $tablet-width) {
    @include size-block(22px, 22px);
  }
}

.form__filter-input[type="checkbox"]:checked + .form__control-mark::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 24px;
  height: 16px;
  content: "";
  background-image: url("../img/tick-mobile.svg");

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: "";
    background-image: url("../img/tick.svg");
    width: 32px;
    height: 22px;
  }
}

.form__filter-input:focus + .form__control-mark {
  border: 2px solid #62d1ba;
}

.form__wrapper {
  width: 100%;
  padding-top: 28px;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    flex-basis: 75%;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 66%;
  }
}


.form__middle-name,
.form__surname,
.form__name {
  display: flex;
  flex-direction: column;

  &:not(.form__middle-name) {
    margin-bottom: 21px;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.form__contacts-item {
  display: flex;
  flex-direction: column;

  &--indent {
    margin-bottom: 35px;

    .form__title-contact {
      padding-top: 0;
      padding-right: 22px;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 19px;
    }
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.form__middle-name > .form__filter-label,
.form__surname > .form__filter-label,
.form__name > .form__filter-label {
  @media (min-width: $tablet-width) {
    padding-top: 16px;
    padding-right: 26px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 22px;
  }
}

.form__middle-name {
  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.form__input {
  font-family: $main-font, $fallback-font, sans-serif;
  border: none;
  outline: none;
  border-bottom: 2px solid #000000;


  @include size-font(17px, 18px);
  width: 100%;
  padding: 18px 18px 13px 0;
  color: $base-color;

  @media (min-width: $tablet-width) {
    @include size-font(19px, 18px);
    padding-left: 18px;
    padding-top: 13px;
  }

  &::placeholder {
    opacity: 0.3;
  }

  &:hover {
    border-bottom: 2px solid #62d1ba;
  }

  &:focus {
    outline: 2px solid #62d1ba;
  }

  &:active {
    outline: none;
    border-bottom: 2px solid #62d1ba;
  }
}

.form__contacts {
  padding-top: 21px;
  padding-bottom: 27px;
  margin: 0;
  border: none;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.form__contacts-container {
  position: relative;
  width: 100%;
  display: flex;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    flex-basis: 75%;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 66%;
    margin-left: 0;
  }
}

.form__contacts-container > input {
  @media (min-width: $tablet-width) {
    background-color: #f1f1f1;
    padding-left: 17px;
  }
}

.form__decoration-icon {
  opacity: 0.2;
}

.form__input:hover + span > .form__decoration-icon {
  fill: #62d1ba;
  opacity: 1;
}

.form__title-contact {
  margin: 0 0 4px 0;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    justify-content: center;
    margin: 0;
    padding: 0;
    padding-top: 6px;
  }
}

.form__decoration-elem {
  position: absolute;

  &--phone {
    top: 11px;
    right: 7px;
  }

  &--email {
    top: 17px;
    right: 3px;
  }

  @media (min-width: $tablet-width) {
    &--phone {
      top: 12px;
      right: 27px;
    }

    &--email {
      top: 20px;
      right: 23px;
    }
  }

  @media (min-width: $desktop-width) {
    &--phone {
      top: 11px;
      right: 5px;
    }

    &--email {
      top: 19px;
      right: 1px;
    }
  }
}

.form__fill-field,
.form__additionally {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0;
  padding-bottom: 16px;
  margin: 0;
  border: none;

  .form__item-title {
    margin-top: 10px;
    margin-bottom: 22px;

    @media (min-width: $tablet-width) {
      margin-top: 20px;
    }
  }
}

.form__fill-field {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 9px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 2fr 2fr 1fr;
  }
}

.form__additionally {
  @media (min-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 50px;
  }
}

.form__additionally-field {
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  width: 100%;
  min-height: 141px;
  padding: 17px;
  border: 2px solid #444444;

  @include size-font(17px, 18px);

  @media (min-width: $tablet-width) {
    @include size-font(19px, 18px);
    flex-basis: 75%;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 66%;
  }

  &:hover {
    border: 2px solid #62d1ba;
  }

  &:focus {
    border: 2px solid #62d1ba;
  }

  &:active {
    border: 2px solid #62d1ba;
  }
}

.button-submit-form {
  @include size-font(17px, 16px);
  background-color: #ffffff;
  padding: 18px 17px;
  margin-bottom: 38px;
  order: 2;

  @media (min-width: $tablet-width) {
    width: 230px;
    margin-left: 0;
    order: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
  }
}

.form__field-text {
  @include size-font(14px, 16px);
  color: $base-color;
  margin-top: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    @include size-font(17px, 30px);
    margin-left: auto;
    padding-top: 10px;
    order: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 13px;
  }
}
