.info {
  padding-top: 10px;

  @media (min-width: $tablet-width) {
    padding-top: 20px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}

.info__heading {
  @include size-font(25px, 30px);

  @media (min-width: $tablet-width) {
    @include size-font(43px,50px);
  }

  @media (min-width: $desktop-width) {
    @include size-font(53px, 57px);
    grid-column: 2/6;
    grid-row: 1/2;
  }
}

.info__list-description {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: grid;

    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    row-gap: 28px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/6;
    grid-row: 2/3;
  }
}

.info__item {
  @include size-font(17px, 20px);
  padding-top: 62px;
  padding-bottom: 21px;
  font-weight: bold;

  &--flower {
    background-image: url("../img/icon-1.svg");
  }

  &--clew {
    background-image: url("../img/icon-2.svg");
  }

  &--bill {
    background-image: url("../img/icon-3.svg");
  }

  &--rocket {
    background-image: url("../img/icon-4.svg");
  }

  &--like {
    background-image: url("../img/icon-5.svg");
  }

  &--present {
    background-image: url("../img/icon-6.svg");
  }
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    @include size-font(20px, 22px);

    max-width: 315px;
  }
}
