.menu {
  background-image: url("../img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center -17px;
  background-color: #f9f9f9;
  padding-top: 73px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 1136px auto;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    background-image: url("../img/hero-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center -17px;
    background-size: contain;
    min-height: 600px;
    padding-top: 0;
    padding-left: 50px;
    padding-right: 50px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: 2300px auto;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      background-image: url("../img/zigzag-tablet.svg");
      background-repeat: repeat-x;
      height: 24px;
      width: 100%;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      background-image: url("../img/zigzag-desktop.svg");
      background-repeat: repeat-x;
      height: 34px;
      width: 100%;
    }
  }
}

.menu__product-info {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 100%;
    padding-top: 20px;
  }
}

.menu__product-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.menu__link {
  @media (min-width: $tablet-width) {
    text-decoration: none;
    color: #000000;
    padding-right: 60px;

    @include size-font(15px,24px);
    font-weight: 700;

    &--delivery {
      font-weight: 400;
      margin-left: auto;
      color: $base-color;
      padding-right: 0;
    }
  }

  &:hover {
    color: rgb(0%, 0%, 0%, 0.6);
  }

  &:active {
    border: none;
    color: rgb(0%, 0%, 0%, 0.3);
  }
}

.menu__main-heading {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;

  @include size-font(27px,30px);
  margin-top: 0;
  margin-bottom: 120px;

  @media (min-width: $tablet-width) {
    @include size-font(43px,50px);
    margin-top: 109px;
    margin-bottom: 372px;
  }

  @media (min-width: $desktop-width) {
    @include size-font(53px,57px);
    margin-top: 114px;
    margin-bottom: 353px;
  }
}

.menu__list-product {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.menu__product-item {
  display: flex;

  @media (min-width: $tablet-width) {
    width: 50%;
  }
}

.menu__product-link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: #ffffff;
  width: 100%;
  padding: 24px 30px 18px 36px;
  background: #63d1bb;

  &:hover {
    background: #59d5bc;
    padding-bottom: 23px;
    background-position: top 5px;

    @media (min-width: $tablet-width) {
      padding-bottom: 39px;
    }
  }

  &:hover .menu__product-icon {
    opacity: 0.7;
  }

  &:active .menu__product-icon {
    opacity: 0.3;
  }

  &--bg {
    background: #56c3b2;
  }

  &--bg:hover {
    background: #46c1ae;
  }

  @include size-font (19px,24px);
  font-weight: bold;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    @include size-font(20px,30px);
    padding: 25px 36px 34px 36px;
  }
}
