.menu-inner {
  position: relative;
  background-color: #f1f1f1;
  padding-top: 73px;
  padding-bottom: 73px;
  min-height: 177px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 75px;

    &::after {
      content: "";
      position: absolute;
      bottom: -12px;
      left: 0;
      background-image: url("../img/zigzag-tablet.svg");
      background-repeat: repeat-x;
      height: 24px;
      width: 100%;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 113px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      background-image: url("../img/zigzag-desktop-cat.svg");
      background-repeat: repeat-x;
      height: 34px;
      width: 100%;
    }
  }
}

.menu-inner__heading {
  @include size-font(27px, 30px);
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include size-font(43px, 50px);
    margin-top: 57px;
  }

  @media (min-width: $desktop-width) {
    @include size-font(53px, 57px);
  }
}
