.menu {
  background-image: url("../img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center -17px;
  background-size: contain;
  background-color: #f9f9f9;
  padding-top: 73px;

  @media (min-width: $tablet-width) {
    min-height: 600px;
    padding-top: 0;
  }
}

.menu__product-info {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 100%;
    padding-top: 20px;
  }
}

.menu__product-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.menu__link {
  @media (min-width: $tablet-width) {
    text-decoration: none;
    color: #000000;
    padding-right: 50px;

    @include size-font(15px,24px);
    font-weight: 700;

    &--delivery {
      font-weight: 400;
      margin-left: auto;
      color: $base-color;
      padding-right: 0;
    }
  }
}

.menu__main-heading {
  text-align: center;

  @include size-font(27px,30px);
  margin-top: 0;
  margin-bottom: 120px;

  @media (min-width: $tablet-width) {
    @include size-font(43px,50px);
    margin-top: 109px;
    margin-bottom: 372px;
  }

  @media (min-width: $desktop-width) {
    @include size-font(53px,57px);
    margin-top: 114px;
    margin-bottom: 353px;
  }
}

.menu__list-product {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.menu__product-item {
  display: flex;
  background: #63d1bb;
  padding-top: 24px;
  padding-right: 30px;
  padding-bottom: 18px;
  padding-left: 36px;

  @media (min-width: $tablet-width) {
    width: 50%;
    padding: 25px 36px 34px 36px;
  }
}

.menu__product-link {
  display: block;
  text-decoration: none;
  color: #ffffff;
  width: 130px;

  @include size-font (19px,24px);
  font-weight: bold;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    @include size-font(20px,30px);
  }
}

.menu__product-item-bg {
  background: #56c3b2;
}
