.navigation {
  position: relative;
  min-height: 79px;

  @media (min-width: $tablet-width) {
    min-height: 89px;
  }
}

.navigation__wrapper {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 3;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    position: static;
    top: 0;
    z-index: 0;
    width: 345px;
    border: none;
    box-shadow: none;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

.navigation--open {
  display: flex;
}

.navigation--open + .navigation__toogle::before,
.navigation--open + .navigation__toogle::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background-color: #000000;
}

.navigation--open + .navigation__toogle::before {
  transform: rotate(45deg);
}

.navigation--open + .navigation__toogle::after {
  transform: rotate(-45deg);
}

.navigation--open + .navigation__toogle {
  border: none;
}

.navigation__toogle {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  width: 20px;
  height: 14px;
  background-color: #ffffff;
  border-top: 2px solid #231f20;
  border-bottom: 2px solid #231f20;
  border-left: none;
  border-right: none;

  &::after {
    content: "";
    position: absolute;
    top: 4px;
    right: 0;
    width: 20px;
    height: 2px;
    background-color: #000000;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.navigation__list {
  list-style: none;
  padding: 0;
  margin: 0;

  a {
    display: inline-block;
    height: 40px;
    font-weight: 700;
    text-decoration: none;
    color: #000000;
  }

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.navigation__list-order {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 100%;
    left: 0;

    a {
      @include size-font(15px, 24px);
    }
  }

  @media (min-width: $desktop-width) {
    position: relative;

    a {
      @include size-font(17px, 24px);
    }
  }
}

.navigation__item {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 1px 0 #ececee, inset 0 1px 0 #ececec;
  position: relative;
  padding: 33px 0 13px 0;

  @media (min-width: $tablet-width) {
    display: flex;
    box-shadow: none;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    box-shadow: none;
  }
}

.navigation__list-order-item {
  padding-left: 76px;

  @media (min-width: $tablet-width) {
    padding: 21px 35px 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 33px 35px 13px;

    &:first-child {
      padding-left: 0;
    }
  }
}

.navigation__link-search {
  position: relative;
  min-width: 233px;
  text-align: center;

  @media (min-width: $tablet-width) {
    height: 40px;
    min-width: 40px;
  }
}

.navigation__link-basket {
  position: relative;
  text-align: end;
  min-width: 233px;
  height: 40px;
}

.navigation__search-icon {
  top: 4px;
  left: 0;

  @media (min-width: $tablet-width) {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}

.navigation__basket-icon {
  top: 4px;
  left: 0;
}

.navigation__list-search-item {
  padding-left: 31px;

  @media (min-width: $tablet-width) {
    padding: 26px 22px 23px;
  }
}

.navigation__list-basket-item {
  padding-left: 31px;
}

.navigation__logo {
  @include size-block(86px, 35px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  @media (min-width: $tablet-width) {
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }

  @media (min-width: $desktop-width) {
    left: 50%;
  }
}

.navigation__search {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.navigation__icon {
  position: absolute;
}
