.navigation {
  position: relative;
  min-height: 79px;

  @media (min-width: $tablet-width) {
    min-height: 87px;
  }
}

.navigation__wrapper {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 3;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    position: static;
    top: 0;
    z-index: 0;
    width: 345px;
    border: none;
    box-shadow: none;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

.navigation--open {
  display: flex;
}

.navigation--open + .navigation__toogle::before,
.navigation--open + .navigation__toogle::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 20px;
  height: 2px;
  background-color: #231f20;
}

.navigation--open + .navigation__toogle::before {
  transform: translateY(-50%) rotate(45deg);
}

.navigation--open + .navigation__toogle::after {
  transform: translateY(-50%) rotate(-45deg);
  box-shadow: none;
}

.navigation__toogle {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  width: 20px;
  height: 14px;
  cursor: pointer;
  background-color: #ffffff;
  border: none;

  &::after {
    content: "";
    position: absolute;
    top: 5px;
    right: 0;
    width: 20px;
    height: 2px;
    background-color: #231f20;
    box-shadow: 0 6px 0 0 #231f20, 0 -6px 0 0 #231f20;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.navigation__list {
  list-style: none;
  padding: 0;
  margin: 0;

  a {
    display: inline-block;
    height: 40px;
    font-weight: 700;
    text-decoration: none;
    color: #000000;
  }

  a:hover {
    color: rgb(0%, 0%, 0%, 0.6);
  }

  a:active {
    border: none;
    color: rgb(0%, 0%, 0%, 0.3);
  }

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.navigation__list-order {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    a {
      @include size-font(15px, 24px);
    }
  }

  @media (min-width: $desktop-width) {
    position: relative;
    z-index: 0;

    a {
      @include size-font(17px, 24px);
    }
  }
}

.navigation__item {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 1px 0 #ececee, inset 0 1px 0 #ececec;
  position: relative;
  padding: 26px 0 13px 0;

  @media (min-width: $tablet-width) {
    display: flex;
    box-shadow: none;
    padding-top: 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    box-shadow: none;
  }
}

.navigation__list-order-item {
  padding-left: 76px;

  @media (min-width: $tablet-width) {
    padding: 21px 35px 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 31px 36px 12px;

    &:first-child {
      padding-left: 0;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
}

.navigation__link {
  position: relative;
  min-width: 233px;
  height: 40px;

  &--basket {
    text-align: end;
  }

  &--search {
    text-align: center;

    @media (min-width: $tablet-width) {
      min-width: 40px;
    }
  }

  &:hover .navigation__icon {
    fill: #63d1bb;
    opacity: 1;
  }

  &:active .navigation__icon {
    fill: #63d1bb;
    opacity: 0.3;
  }
}

.navigation__search-icon {
  top: 4px;
  left: 0;

  @media (min-width: $tablet-width) {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}

.navigation__basket-icon {
  top: 4px;
  left: 0;
}

.navigation__list-search-item {
  padding-left: 31px;

  @media (min-width: $tablet-width) {
    padding: 23px 20px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.navigation__list-basket-item {
  padding-left: 32px;
}

.navigation__logo {
  min-width: 86px;
  min-height: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  @media (min-width: $tablet-width) {
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }

  @media (min-width: $desktop-width) {
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover .navigation__logo-icon {
    opacity: 0.6;
  }

  &:active .navigation__logo-icon {
    opacity: 0.3;
  }
}

.navigation__search {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.navigation__icon {
  position: absolute;
  opacity: 0.2;
}
