.navigation {
  position: relative;
  min-height: 79px;
}

.navigation__wrapper {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 79px;
  z-index: 3;

  width: 320px;

  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  /*
  display:flex;
  padding-left: 18px;
  padding-right: 20px; */
}

.navigation__wrapper-popover {
  display: flex;
}

.navigation__toogle {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 20px;
  height: 20px;
  /*
  display: none;*/
}

.navigation__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;

  /*display: flex;
  list-style: none;
  padding: 0;
  margin: 0;*/
}

.navigation__list-order-item {
  display: flex;
  flex-wrap: wrap;
  padding: 28px 5px 27px 76px;
  box-shadow: 0 1px 0 #ececee, inset 0 1px 0 #ececec;
  /*
  max-width: 234px;
  padding: 32px;*/

  a {
    display: block;
    font-weight: 700;
    text-decoration: none;
    color: #000000;
  }
}

.navigation__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  /*
  left: 45.62%;
  right: 45.4%;
  top: 0.75%;
  bottom: 98.31%;*/
}

.page-header__navigation-icon {
  /*padding-top: 9px;*/
}

.list-order {
  /*
  margin-right: auto;*/
}

.navigation__list-search-item {
  display: flex;
  flex-wrap: wrap;
  padding: 28px 5px 27px 76px;
  box-shadow: 0 1px 0 #ececee, inset 0 1px 0 #ececec;

  /*
  max-width: 316px;
  padding: 32px;

  &:first-child {
    padding-top: 36px;
    padding-bottom: 34px;
  }*/

  a {
    position: relative;
    display: block;
    font-weight: 700;
    text-decoration: none;
    color: #000000;
  }
}

.navigation__search-icon,
.navigation__basket-icon {
  position: absolute;
  top: 5px;
  left: -45px;
  /*
  vertical-align: middle;
  padding-right: 20px;*/
}
