.product-week {
  display: flex;
  flex-direction: column;
  padding-top: 65px;
  padding-left: 30px;
  padding-right: 30px;

  @media (min-width: $tablet-width) {
    position: relative;
    margin-top: 40px;
    padding-top: 0;
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 5fr;
  }
  /*
  display: flex;
  margin-top: 54px;*/
}

.product-week__heading {
  @include size-font(17px, 20px);
  font-weight: 700;
  color: #63d1bb;
  text-transform: uppercase;
  text-align: start;
  margin-top: 0;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    @include size-font(17px,17px);
    margin-left: auto;
    width: 100px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    margin: 69px 43px auto 32px;
  }
  /*
  @include size-font(17px, 17px);
  font-weight: 700;
  color: #63d1bb;
  text-transform: uppercase;
  text-align: center;
  width: 100px;
  margin-top: 69px;
  margin-left: 32px;
  margin-right: 75px;*/
}

.product-week__conteiner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: static;
    margin-top: 50px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    margin-top: 0;
  }
}

.product-week__heading-conteiner {
  position: absolute;

  @include size-font(25px, 30px);
  margin: 0;
  top: -70px;

  @media (min-width: $tablet-width) {
    @include size-font(43px,50px);
    top: -10px;
  }

  @media (min-width: $desktop-width) {
    @include size-font(53px, 57px);
    position: relative;
    top: 0;
    margin-top: 61px;
    grid-column: 1/4;
    grid-row: 1/2;
  }
  /*
  position: absolute;
  @include size-font(53px, 57px);
  margin-top: 61px;
  z-index: 2;
  width: 545px;*/
}

.product-week__info-product {
  @include size-font(15px, 24px);
  color: #444444;
  width: 260px;
  height: max-content;
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: $desktop-width) {
    @include size-font(17px, 30px);
    grid-column: 1/3;
    grid-row: 2/3;
  }
  /*
  @include size-font(17px, 30px);
  color: #444444;
  width: 292px;
  height: max-content;
  margin-top: 153px;
  margin-bottom: 0;*/
}

.product-week__list-specifications {
  margin-top: 28px;
  list-style: none;
  padding: 0;
  margin-bottom: 28px;
  width: 291px;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/3;
    grid-row: 3/4;
  }
}

.product-week__item {
  display: flex;
  padding-top: 5px;
  padding-bottom: 14px;
  border-bottom: 1px solid #ececec;
}

.product-week__naming {
  @include size-font(15px, 20px);
  color: $base-color;
}

.product-week__naming:first-child {
  min-width: 97px;
  display: inline;
}

.product-week__img {
  @media (min-width: $tablet-width) {
    grid-column: 2/3;
    grid-row: -1/5;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3/6;
    grid-row: 1/6;
  }
}

.product-week__price {
  @include size-font(17px, 24px);
  font-weight: bold;
  color: $base-color;
  width: 100%;
  text-align: center;
  margin-top: 26px;
  margin-bottom: 24px;

  @media (min-width: $desktop-width) {
    grid-column: 1/3;
    grid-row: 4/5;
  }
  /*
  @include size-font(20px, 24px);
  font-weight: bold;
  color: $base-color;
  width: 174px;
  margin: 0 90px 0 auto;*/
}


.product-week__btn {
  display: flex;

  @include size-font(17px, 20px);
  font-weight: bold;
  justify-content: center;
  align-items: center;
  color: $base-color;
  text-decoration: none;
  text-transform: uppercase;

  @include size-block(260px,52px);
  margin: 0 auto;
  border: 2px solid #444444;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/3;
    grid-row: 5/6;
  }
}
