.production {
  padding-bottom: 58px;
}

.production__heading {
  display: inline-block;
  /*
  margin-top: 49px;*/
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;

  @include size-font (20px, 24px);
  max-width: 172px;
}

.production__wrapper {
  display: flex;
  position: relative;
  max-width: 668px;
}

.production__link {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.production__info {
  @include size-font (13px, 24px);
  /*
  @include size-font (15px, 30px);*/
  text-align: center;
  color: $base-color;
  max-width: 252px;
  margin-top: 27px;
}

.production-button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  @include size-font(18px, 16px);
  /*
  @include size-font(17px, 16px);*/
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: $base-color;
  border: 2px solid #444444;
  min-width: 192px;
  min-height: 52px;
  /*max-width: 230px;
  margin-top: auto;*/
}

.production__conteiner {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ececec;
}

.production__conteiner-info {
  display: flex;
  align-items: center;
  padding-top: 21px;
  padding-left: 34px;
  padding-bottom: 26px;
  position: relative;
  width: 100%;
  order: -1;
  /*
  margin-left: 79px;*/
}

.production__wrapper-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 33px auto;
}

.production__conteiner-info::before {
  content: "";
  position: absolute;
  background-image: url("../img/camera.svg");
  background-repeat: no-repeat;
  width: 32px;
  height: 22px;
}
