@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;

  src: url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;

  src: url("../fonts/opensansbold.woff") format("woff"), url("../fonts/opensansbold.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  background: #c7c7c7;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 1150px;
  min-height: 100%;
  margin: 0 auto;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

img {
  max-width: 100%;

  object-fit: cover;
  object-position: center;
}

.indentation {
  padding-left: 30px;
  padding-right: 30px;

  @media (min-width: $tablet-width) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.indentation-form {
  padding-left: 97px;
  padding-right: 225px;
}

.button {
  display: block;
  cursor: pointer;
  width: 260px;
  margin: 0 auto;
  padding-top: 14px;
  padding-bottom: 14px;

  font-weight: bold;
  text-align: center;
  color: $base-color;
  text-transform: uppercase;
  text-decoration: none;

  border: 2px solid #444444;

  &:hover {
    background: linear-gradient(0deg, #444444, #444444);
    color: #ffffff;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
