.contacts {
  display: flex;
  flex-wrap: wrap;
  margin-top: 71px;
  margin-bottom: 105px;
}

.contacts__address-conteiner {
  padding-top: 79px;
  padding-left: 174px;
}

.contacts__heading {
  @include size-font(53px, 57px);
  margin: 0;
}

.contacts__address {
  display: flex;
  max-width: 327px;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 55px;
  margin-bottom: 0;
  list-style: none;
}

.contacts__address-text,
.contacts__email {
  width: 82px;
  display: inline-block;
}

.contacts__address-location {
  width: 240px;
  display: inline-block;
}

.contacts-map-link {
  display: flex;
  @include size-font(17px, 20px);
  font-weight: bold;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  color: $base-color;
  text-decoration: none;
  text-transform: uppercase;
  width: 230px;
  min-height: 58px;
  border: 2px solid #444444;
}

.contacts__map-conteiner {
  margin-left: auto;

  .contacts__map-icon {
    @include size-block(527px, 457px);
  }
}
