.reviews {
  position: relative;
  margin-top: 80px;
}

.reviews__heading {
  @include size-font(53px, 57px);
  margin-left: 174px;
  margin-top: 0;
  margin-bottom: 35px;
}

.reviews__slider {
  background-image: url("../img/review-bg.png");
  background-repeat: no-repeat;
  padding-top: 78px;
}

.reviews__slider-item {
  margin-left: 174px;
}

.reviews__visitor {
  @include size-font(17px, 30px);
  color: $base-color;
}

.reviews__conteiner {
  display: flex;
  flex-direction: column;
  margin-bottom: 44px;
}

.reviews__name-visitor {
  font-weight: bold;
}

.reviews__button {
  display: flex;
  position: absolute;
  right: 70px;
  top: 70px;
  @include size-font(17px, 20px);
  font-weight: bold;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  color: $base-color;
  text-decoration: none;
  text-transform: uppercase;
  width: 175px;
  min-height: 58px;
  border: 2px solid #444444;
}

.reviews__conteiner-arow {
  position: absolute;
  top: 290px;
  right: 70px;
}

.next-reviews-icon {
  transform: rotate(180deg);
}

.pref-reviews-icon {
  transform: translateX(-37px);
}
